.wrapper{
    display: flex;
}

.movie-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
        justify-content: space-between;
    
}
.movie{
    width: auto;
    height: auto;
    margin: auto;
    list-style-type: none;
}